# project binaries
build
third-party
design
node_modules
*.xcf

# Misc
*.bck
tmp
public/testme.html
public/css/testme.css
public/css/testme.scss

# OS X Finder metadata
*.DS_Store
.LSOverride

# Sublime Project metadata
*.sublime-workspace

