extends layout

//- Use default provisioned title

block head

block content

  .welcome-container

    block help
      include help

  div(class='section group about')

    div(class='col two-cols-span2 align-text-center')
      img(width='360', height='480', src='/images/laura.jpg', alt='Photograph of Laura Avery')

    div(class='col two-cols-span1')
      p(class='align-text-left') Laura Avery is a general practitioner in Fayetteville, AR. She handles a variety of legal matters and has represented clients in family law, criminal defense, appeals, social security disability, personal injury and bankruptcy. Laura believes in devoting her personal time and attention to each case to achieve a superior result for clients. Facing a legal problem is easier when you have a lawyer who cares about your case and can thoroughly explain answers to any questions you may have.

block footer
