extends layout

block title

  title= 'Thank You!' + ' : ' + locals.settings.site_owner['company']

block head

block content

  :markdown
    <h1 class='heading1 align-text-center'>
      <span class='bold sky-blue'>...Thank you!</span>
    </h1>

  div(class='align-text-left')

    //- TODO: This is a stubbed response message.
    p We have received your message and will get back to you as soon as possible.

  if locals.settings.env === 'development' || locals.settings.env === 'testing'
    include email_html_template.jade

block footer
