extends layout

block head

  - var topics = [ { title: 'Contact Us', href: '#contact', id: 'contact' }, { title: 'Location', href: '#location', id: 'location' } ];

block content

  div( class='content', align='left' )
    :markdown
      <p style='text-align: center; font-size: 2.5em; font-weight: 600;'>
      How can we <span style='color: #5eb0ea; font-weight: 800;'>help you?</span>
      </p>

    br

    div(align='center')
      a(class='blue_button', href='#contact') Contact
      a(class='blue_button', href='#location') Location

    br

    a(id= topics[0].id)
    h1 #{topics[0].title}

    p(style='font-size: 1.25em; font-weight: 400;') If you are seeking skilled and diligent representation in any type of case, contact Laura today to see how she may be able to help you.
    p(style='font-size: 1.25em; font-weight: 400;') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

    :markdown
      Labels marked with <span class='req'>*</span> indicates required information.

    div(class='contact_form')
      form(action='', method='get')
        fieldset
          legend Personal Information
          table
            tr
              td(class='align_right') Name
                span(class='req') *
              td
                input(class='', type='text', name='contact_first_name', autocomplete='off', size=25, value='First name', onfocus='clear_value_if_default(this,\'First name\')', onblur='set_default_value_if_null(this,\'First name\')' )
                // FIXME: size should match first name
                input(class='', type='text', name='contact_last_name', autocomplete='off', size=20, value='Last name', onfocus='clear_value_if_default(this,\'Last name\')', onblur='set_default_value_if_null(this,\'Last name\')' )
            tr
              td(class='align_right')
                label(for='email_address') Email Address
                span(class='req') *
              td
                input(id='email_address', class='', type='text', name='contact_email', autocomplete='off', size=25, value='example@domain.com', onfocus='clear_value_if_default(this,\'example@domain.com\')', onblur='set_default_value_if_null(this,\'example@domain.com\')' )
            tr
              td(class='align_right')
                label(for='confirm_email') Confirm Email
                span(class='req') *
              td
                input(id='confirm_email', class='', type='text', name='contact_confirm_email', autocomplete='off', size=25 )
            tr
              td(class='align_right') Phone
                span(class='req') *
              td
                input(class='', type='text', name='contact_ph', autocomplete='off', maxlength=14, value='(xxx) xxx-xxxx', onfocus='clear_value_if_default(this,\'(xxx) xxx-xxxx\')', onblur='set_default_value_if_null(this,\'(xxx) xxx-xxxx\')' )
                input(class='', type='text', name='contact_ph_ext', autocomplete='off', size=4, value='Ext', onfocus='clear_value_if_default(this,\'Ext\')', onblur='set_default_value_if_null(this,\'Ext\')' )
            tr
              td(class='align_right') State & Zip
                span(class='req') *
              td
                select(id='state', class='', name='contact_state')
                  option(value='DID NOT RESPOND', selected='selected') Select State
                  option(value='Alabama') Alabama
                  option(value='Alaska') Alaska
                  option(value='Arizona') Arizona
                  option(value='Arkansas') Arkansas
                  option(value='California') California
                  option(value='Colorado') Colorado
                  option(value='Connecticut') Connecticut
                  option(value='Delaware') Delaware
                  option(value='Florida') Florida
                  option(value='Georgia') Georgia
                  option(value='Hawaii') Hawaii
                  option(value='Idaho') Idaho
                  option(value='Illinois') Illinois
                  option(value='Indiana') Indiana
                  option(value='Iowa') Iowa
                  option(value='Kansas') Kansas
                  option(value='Kentucky') Kentucky
                  option(value='Louisiana') Louisiana
                  option(value='Maine') Maine
                  option(value='Maryland') Maryland
                  option(value='Massachusetts') Massachusetts
                  option(value='Michigan') Michigan
                  option(value='Minnesota') Minnesota
                  option(value='Mississippi') Mississippi
                  option(value='Missouri') Missouri
                  option(value='Montana') Montana
                  option(value='Nebraska') Nebraska
                  option(value='Nevada') Nevada
                  option(value='New Hampshire') New Hampshire
                  option(value='New Jersey') New Jersey
                  option(value='New Mexico') New Mexico
                  option(value='New York') New York
                  option(value='North Carolina') North Carolina
                  option(value='North Dakota') North Dakota
                  option(value='Ohio') Ohio
                  option(value='Oklahoma') Oklahoma
                  option(value='Oregon') Oregon
                  option(value='Pennsylvania') Pennsylvania
                  option(value='Puerto Rico') Puerto Rico
                  option(value='Rhode Island') Rhode Island
                  option(value='South Carolina') South Carolina
                  option(value='South Dakota') South Dakota
                  option(value='Tennessee') Tennessee
                  option(value='Texas') Texas
                  option(value='Utah') Utah
                  option(value='Vermont') Vermont
                  option(value='Virginia') Virginia
                  option(value='Washington') Washington
                  option(value='Washington DC') Washington DC
                  option(value='West Virginia') West Virginia
                  option(value='Wisconsin') Wisconsin
                  option(value='Wyoming') Wyoming
                input(id='zipcode', class='', type='text', name='contact_zipcode', autocomplete='off', size=14, maxlength=11, value='72701', onfocus='clear_value_if_default(this,\'72701\')', onblur='set_default_value_if_null(this,\'72701\')' )
        fieldset
          legend Contact Preferences
          | How would you like to be contacted?
          br
          input(id='pref_email', class='', type='checkbox', name='contact_prefers_email')
          label(for='pref_email') Email

          input(id='pref_phone', class='', type='checkbox', name='contact_prefers_phone')
          label(for='pref_phone') Phone
        fieldset
          legend Inquiry
          label(for='message') Brief description of your legal issue
          span(class='req') *
          br
          textarea(id='message', name='contact_message', rows='10', cols='50')
          p
            // Source: https://www.iconfinder.com/search/?q=caution&price=free
            img(class='disclaimer', src='images/caution.png', alt='Caution')
            | The use of the Internet or this form for communication with the firm or any individual member of the firm does not establish an attorney-client relationship. Confidential or time-sensitive information should not be sent through this form.

          input(id='tos', class='', type='checkbox', name='read_disclaimer')
          label(for='tos') I have read the disclaimer.
          span(class='req') *
          p
            a(href='privacy',target='self') Privacy Policy

          input(class='blue_button', type='submit', name='action', value='Send Message')

        br
        br

    article
      a(id= topics[1].id)
      h2 #{topics[1].title}

      table(border='0', align='center', cellspacing=25)
        tr
          td(class='align_right', style='font-weight: 600;') Phone: +1 (479) 739-1903
          td(style='font-weight: 600;') 103 N College Ave Ste 5
        tr
          td(class='align_right', style='font-weight: 600;') Fax: +1 (479) 439-8283
          td(style='font-weight: 600;') Fayetteville, AR 72701

      br

      iframe(width='480', height='320', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/place?q=103%20n%20college%20ave%20%235%20fayetteville%2C%20ar&key=AIzaSyC3Z3Zn32hQBcvqoCc8033jHMFhfVE6NhY')

      br

      a(target='self',href='http://maps.google.com/maps?ll=36.06402,-94.158191&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=103%20N%20College%20Ave%20%235%20Fayetteville%2C%20AR%2072701') Map and Directions

      p The office is located inside the second building on the right on College Avenue past Dickson St., if you are coming from the North. Free parking is available in front for clients and prospective clients.

block footer
