extends layout

block title

  title= 'Thank You!' + ' : ' + locals.settings.site_owner['company']

block head

block content

  //- :markdown
    <h1 class='heading1 align-text-center'>
      <span class='bold sky-blue'>...Success!</span>
    </h1>

  //- TODO: This is a stubbed response message.
  h1= 'Thanks!'
  p We have received your message and will get back to you as soon as possible.

  if locals.settings.env === 'development' || locals.settings.env === 'testing'
    include email_html_template.jade

block footer
