table(class='align-center contact-info')
  tr
    td( class='address align-text-right semi-bold' ) Phone: +1 (479) 739-1903
    td( class='address semi-bold' ) 103 N College Ave Ste 5
  tr
    td( class='address align-text-right semi-bold' ) Fax: +1 (479) 439-8283
    td( class='address semi-bold' ) Fayetteville, AR 72701
