//- Note that Jade takes care of sanitizing the input for us -- i.e.: HTML
//- carrot tags are transformed into literal carrot symbols.

| First Name:
= ' ' + contact['first_name'] + '\n'

| Last Name:
= ' ' + contact['last_name'] + '\n'

| Email Address:
= ' ' + contact['email'] + '\n'

| Phone Number:
= ' ' + locals.form_helpers.phone_number_prettify( contact['phone_area'], contact['phone_prefix'], contact['phone_suffix'] ) + '\n'

//- if contact['phone_ext'].length > 0
  | Phone Extension:
  = ' ' + contact['phone_ext'] + '\n'

//- | State:
//- = ' ' + contact['state'] + '\n'

//- | Postal Code:
//- = ' ' + contact['zipcode'] + '\n'

| Contact Preference:
= ' ' + contact['pref'] + '\n' + '\n'

= contact['message'] + '\n'
