div(class='help')

  //- :markdown
    <h1 class='heading1 align-text-center'>
      Need <span class='bold sky-blue'>help?</span>
    </h1>

  div(class='align-text-center margin-top-offset25 margin-bottom-offset25')
    a(class='orange-button border-rounded', href= locals.settings.site_owner['phone_url'] ) Call Us
    a(class='orange-button border-rounded', href= locals.settings.nav_links['contact'].href ) Email Us
