extends layout

//- Use default provisioned title

block head

block content

  :markdown
    <h1 class='heading1 align-text-center'>
      <span class='bold sky-blue'>Who</span> We Are
    </h1>

  div(class='section group')

    div(class='col two-cols-span1')
      h1(class='heading2') About

      p Laura Avery is a general practitioner in Fayetteville, AR. She handles a variety of legal matters and has represented clients in family law, criminal defense, appeals, social security disability, personal injury and bankruptcy. Laura believes in devoting her personal time and attention to each case to achieve a superior result for clients. Facing a legal problem is easier when you have a lawyer who cares about your case and can thoroughly explain answers to any questions you may have.

      //- p If you are seeking skilled and diligent representation in any type of case, contact Laura today to see how she may be able to help you.

    div(class='col two-cols-span1')
      h1(class='heading2') Fees

      p One of the biggest questions you may have when hiring an attorney is how much it will cost and whether or not you can afford a lawyer's services. Laura will not quote a fee until she has met with you to discuss your case in person. Each case is unique, and fees are based on the expected time involved, the complexity of the issues, and the desired outcome of your case.

      p We offer a free initial consultation so that you can meet with us and discuss your questions, goals and expectations regarding your case.

  //- Try to load topic page; note that we must use a callback here so we
  //- can see changes made to the Markdown files without restarting the
  //- server.
  //- if typeof topic.load === 'function'
    locals.md!=locals.md( topic.load() )
  //- else
    h1 Invalid Topic
    p Sorry, we could not find your requested topic!

    //- This should not happen! I'd suspect: a) something screwy in the
    //- routing -- see index.js; b) potential security breach attempt
    - console.info( "INFO: Topic data from \"%s\" cannot be rendered: invalid data file.", topic.title );

block help
  include help

block footer
