extends layout

//- Use default provisioned title

block head

block content

  .welcome-container

    block help
      include help

    div(class='section group welcome-banner')
      div(class='col two-cols-span1 padding-bottom-offset25')
        :markdown
          <h1 class='heading1 align-text-center'>
            <span class='bold sky-blue'>Who</span> We Are
          </h1>

        p(class='align-text-left') Laura Avery is a general practitioner in Fayetteville, AR. She handles a variety of legal matters and has represented clients in family law, criminal defense, appeals, social security disability, personal injury and bankruptcy. Laura believes in devoting her personal time and attention to each case to achieve a superior result for clients. Facing a legal problem is easier when you have a lawyer who cares about your case and can thoroughly explain answers to any questions you may have.

        div(class='align-text-right margin-top-offset25 margin-bottom-offset25')
          a(class='blue-button border-rounded') Find Out More

      // Not shown on mobile stylesheet
      div(class='col two-cols-span1 align-text-left hidden')
        br
        br
        br
        img(width='320', height='240', src='')

  div(class='section group')

    div(class='col two-cols-span1')

      div(class='col')
        h1(class='heading2') Family Law
        ul
          li Adoptions
          li Guardianship Actions
          li Divorces
          li Attorney Ad Litem
        a(href='/practice', class='blue-button border-rounded margin-top-offset25 margin-bottom-offset25') More Information

      div(class='col')
        h1(class='heading2') Criminal Law
        ul
          li Traffic Violations
          li DUI/DWI
          li Juvenile Defense
          li Felonies & Misdemeanors
        a(href='/practice', class='blue-button border-rounded margin-top-offset25 margin-bottom-offset25') More Information

      div(class='col')
        h1(class='heading2') Personal Injury
        ul
          li Motor Vehicle Accidents
          li Fires and Explosions
          li Bicycle Accidents
          li Slip and Fall Accidents
        a(href='/practice', class='blue-button border-rounded margin-top-offset25 margin-bottom-offset25') More Information

      div(class='col')
        h1(class='heading2') Business Law
        ul
          li Business Formation
          li Enforcing Agreements
          li Lorem ipsum
          li Bankruptcy
        a(href='/practice', class='blue-button border-rounded margin-top-offset25 margin-bottom-offset25') More Information

    // Spacer for the contact form column
    div(class='col')

    div(class='col')
      h1(class='heading2') Questions?
      include contact_form

  //- Try to load topic page; note that we must use a callback here so we
  //- can see changes made to the Markdown files without restarting the
  //- server.
  //- if typeof topic.load === 'function'
    locals.md!=locals.md( topic.load() )
  //- else
    h1 Invalid Topic
    p Sorry, we could not find your requested topic!

    //- This should not happen! I'd suspect: a) something screwy in the
    //- routing -- see index.js; b) potential security breach attempt
    - console.info( "INFO: Topic data from \"%s\" cannot be rendered: invalid data file.", topic.title );

block footer
