extends layout

block title

  title= locals.settings.nav_links['locations'].title + ' : ' + locals.settings.site_owner['company']

block head

block content

  :markdown
    <h1 class='heading1 align-text-center'>
      ...<span class='bold sky-blue'>Find</span> us
    </h1>

  include contact_info

  div(class='section group')

    div(class='col span1-of-2')
      main
        p The office is located inside the second building to the right on College Avenue past Dickson St., if you are coming from the North. Free parking is available in front for clients and prospective clients.

    div(class='col span1-of-2 align-text-center')

      if locals.settings.remote
        //- https://developers.google.com/maps/documentation/staticmaps/
        img(class='google_map', src='https://maps.googleapis.com/maps/api/staticmap?markers=103%20n%20college%20ave%20%235%20fayetteville%2C%20ar&zoom=16&size=320x240&maptype=roadmap&key=AIzaSyA5Za2tcxZBxwHDyN7OLvlhm6KJlm8x9w8', alt='Google Map: Office Location')

        div(class='map_caption sans align-center')
          a(href='https://maps.google.com/maps?ll=36.06402,-94.158191&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=103%20N%20College%20Ave%20%235%20Fayetteville%2C%20AR%2072701', target='_blank') Map and Directions
          p(class='note') (Opens in a new window)

block footer
