extends layout

block title
  title= 'Search Results' + ' : ' + locals.settings.site_owner['company']

block head

block content

  div( class='content', align='left' )
    section
      h1 Search Results for "#{cse_query}"

      // See public/js/google_search.js
      gcse:searchresults-only

block footer
