extends layout

block title
  title= 'Search Results' + ' : ' + locals.settings.site_owner['company']

block head

block content

  section
    h1 Search Results for "#{cse_query}"

    //- Fix for the bottom of the link title being clipped off
    div(style='line-height: 1.4em; font-size: 16px;')
      // See public/js/google_search.js
      gcse:searchresults-only

block footer
