if locals.form_helpers.has_errs( locals.notifications )
  div.alert(class='#{notifications.type}')
    ul
    - for (var i = 0; i < locals.notifications.messages.length; i++) {
        li #{locals.notifications.messages[i].msg}
    - }
    ul
