/* Google Custom Search Branding (required) */
/* Note that you should honor the following selectors if using Google's
CSE; a) a minimum width of 118px; b) background url image (Google's branding as
per TOS). */
#google_cse {
  /* Same as background image */
  width: 118px;
  /*!important*/
  background: url(http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif) 0% 50% no-repeat white !important;
  -webkit-appearance: none;
}
