/* Small window & mobile friendly layout (optimized for a width of 320) */
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

  .page {
    font-size: 100%;
  }

  .nav {
    /* Nice and easy to touch click */
    line-height: 2.5em;
    text-align: left;

    /* Reset padding so we can highlight 100% of the nav-link block */
    padding-right: 0%;
  }

  .nav-link-parent {
    display: block;
    border-right: none;
  }

  /* Desktop only */
  .nav .search_input {
    display: none;
  }

  /* Desktop only */
  .nav .search_button {
    background: none;
    display: none;
  }

  /* Mobile only */
  .nav-link-child {
    padding-left: 15%;
    display: block;
    text-decoration: none;
  }

  /* Mobile only */
  .nav-link-child-active {
    color: white;

    /* Purple */
    /*background-color: #6C6FED;*/

    /* Dark blue */
    background-color: #468CCF;
  }

  /* Desktop only */
  .breadcrumb-link {
    display: none;
  }

  /* Desktop only */
  .breadcrumb-active {
    display: none;
  }

  /* Desktop only */
  .right-col {
    width: 0%;
    display: none;
    float: none;
  }

  .left-col {
    width: 98%;
    float: left;
  }

  .contact_form fieldset {
    max-width: 98%;
  }

  .contact_form #contact_first_name, #contact_last_name, #contact_email, #contact_confirm_email {
    width: 200px;
  }

  .contact_form #contact_state {
    /*width: 175px;*/
  }

  .contact_form #contact_zipcode {
    /*width: 50px;*/
  }

  .contact_form #contact_message {
    height: 240px;
  }

  /* Google Static Map */
  /* Note that 320x240 is the native resolution of the image */
  .google_map {
    width: 100%;
    height: 100%;
  }

  .map_caption {
    width: 100%;
    text-align: center;
  }
}
