@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

  #page {
    width: 480px;
    font-size: 1.0em;
  }

  .header {
    /* FIXME */
    width: 100%;
  }

  .nav {
    line-height: 2.5em;
    text-align: left;
  }

  .nav-link-parent {
    display: block;
    border-right: none;
  }

  /* Desktop only */
  .nav .search_input {
    display: none;
  }

  /* Desktop only */
  .nav .search_button {
    background: none;
    display: none;
  }

  /* Mobile only */
  .nav-link-child {
    padding-left: 50px;
    display: block;
    text-decoration: none;
  }

  /* Mobile only */
  .nav-link-child-active {
    color: white;

    /* Purple */
    /*background-color: #6C6FED;*/

    /* Dark blue */
    background-color: #468CCF;
  }

  /* Desktop only */
  .breadcrumb-link {
    display: none;
  }

  /* Desktop only */
  .breadcrumb-active {
    display: none;
  }

  /* Desktop only */
  .right-col {
    width: inherit;
    display: inherit;
    float: inherit;
  }

  #content_container {
    /*width: 430px;*/
    width: inherit;
  }

  #footer {
    width: 100%;
  }

  .contact_form fieldset {
    width: 100%;
  }

  .contact_form .input_container {
    width: 250px;
  }

  .contact_form #contact_first_name, #contact_last_name, #contact_email, #contact_confirm_email {
    /*width: 175px; */
  }

  .contact_form #contact_state {
    /*width: 175px;*/
  }

  .contact_form #contact_zipcode {
    /*width: 50px;*/
  }

  .contact_form #contact_message {
    height: 240px;
  }
}
