@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

  #navi_container {
    width: 100%;
    padding: 0px;
  }

  #nav_down {
    text-align: left;
  }

  #nav_down a {
    display: block;
    border-right: none;
  }

  #nav_down .search_input {
    display: none;
  }

  #search_button {
    background: none;
    display: none;
  }
}
