/* Top-level style container */
.page {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  /*letter-spacing: 1.0px;*/
  line-height: 1.4em;
  color: black;
  background-color: white;

  /* Horizontal center */
  margin-left: auto;
  margin-right: auto;

  /* Gray */
  /*background-color: #EBEBEA;*/

  /* Green */
  /*background-color: #C3DFB7;*/

  /* Debugging aid */
  /*border: 1px dashed gray;*/
}

/* Top-level header container */
.header {
  padding: 2%;

  border: none;
  /*background-color: white;*/

  /* Gray */
  /*background-color: #EBEBEA;*/

  /* Green */
  background-color: #C3DFB7;

  /* Debugging aid */
  /*border: 1px solid red;*/
}

/* Top-level navigation container */
.nav {
  font-weight: 600;
  font-size: 115%;

  /* Controls both the navigation links & search input */
  text-align: right;

  /* Gray */
  /*background-color: #EBEBEA;*/

  /* Green */
  background-color: #C3DFB7;
}

.nav-link-parent {
  font-weight: 600;
  padding: 3px 12px;
  text-decoration: none;
  color: black;
  /*color: white;*/
  /*border-right: 1px solid #666;*/
}

.nav-link-parent:hover {
  /*color: blue;*/
  /*color: white;*/

  /* Sky blue */
  /*background-color: #5eb0ea;*/
}

.nav form {
  /* Keep everything on the same line */
  display: inline;
}

.nav .search_input {
  /* Override width in #google_cse (google_cse.css); this is OK as long as we
  honor the minimum width requirement of 118px */
  width: 200px;
  height: 25px;

  /* Spacing in between navi links & input element */
  margin-left: 20px;
  border: 1px solid #666;
}

.search_button {
  border: none;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAAlElEQVR42oWQQRHEIAxF10ElVAISVgo3bCABCUhYCZWAhEpAQpoD6bzJhNnDO0DyyA8fEXkppXyVCpLViDUfyqVIQN9JFMY637hrlCySFauL21E7KVWbAIGx56rnSLqc5KPXSLo3kySalPhTygFhRDtFC09EIsMeZJSGBj7Qveh3OJW89syImiH%2BIO2BOJX0XwA2%2BQEL4pAhSX4aBQAAAABJRU5ErkJggg%3D%3D) 0 0 no-repeat;
}

.nav-link-parent-active {
  color: white;

  /* sky blue */
  background-color: #5eb0ea;

  /*color: #FF8E2C;*/
  /* Orange */
  /*background-color: #FF8E2C;*/
}

/* Mobile only */
.nav-link-child {
  display: none;
}

/* Mobile only */
.nav-link-child-active {
  display: none;
}

.content_container {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  /*padding: 0;*/

  /*background-color: white;*/

  /* Gray */
  /*background-color: #EBEBEA;*/

  /* Debugging aid */
  /*border: 1px solid gray;*/
}

.content_container h1, h2, h3, h4, h5, h6 {
  font-family: Lora, serif;
}

/* Top-level footer container */
.footer {
  clear: both;

  padding: 2%;
  font-size: 90%;

  /* Gray */
  background-color: #EBEBEA;

  /* Green */
  /*background-color: #C3DFB7;*/

}

.footer .disclaimer {
  text-align: center;
  font-size: 90%;
  font-style: italic !important;
  font-weight: 400;
  text-transform: uppercase;
}

.footer .copyright {
  text-align: center;
  font-size: 100%;
  font-style: normal !important;
  font-weight: 400;
}

.contact_form fieldset {
  border: none;
  border-top: 1px solid black;

  max-width: 50%;
}

.contact_form legend {
  font-weight: bold;
}

/*.contact_form table, th {
  border: 0px solid black;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}*/

.contact_form input, select, textarea {
  /*background: #707C78;*/
  font-size: 100%;
  height: 24px;
  font-weight: bold;
}

.contact_form select {
  height: 24px;
  font-weight: normal;
}

.contact_form textarea {
  font-weight: normal;
}

/* Container to hold both the form input element and applicable error message */
.contact_form .input_container {
  width: 100%;
}

.contact_form #contact_first_name, #contact_last_name, #contact_email, #contact_confirm_email {
  /*width: 250px;*/
  width: 322px;
  height: 38px;
}

.contact_form #phone_area {
  width: 30px;
  height: 38px;
}

.contact_form #phone_prefix {
  width: 30px;
  height: 38px;
}

.contact_form #phone_suffix {
  width: 40px;
  height: 38px;
}

.contact_form #phone_ext {
  width: 40px;
  /* Spacing in between the extension and phone suffix */
  margin-left: 10px;

  height: 38px;
}

.contact_form #contact_state, #pref {
  width: 250px;
  height: 38px;
}

.contact_form #contact_zipcode {
  width: 100px;
  height: 38px;
}

.contact_form #contact_message {
  /* Use the allocated size of the input container */
  width: 100%;
  height: 120px;
}

.contact_form input:focus {
  /* Light Tan */
  background-color: #ffc;
}

.contact_form textarea:focus {
  /* Light Tan */
  background-color: #ffc;
}

.border-rounded {
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
}

.blue-button {
  /* sky blue */
  background-color: #5eb0ea;
  padding: 14px 28px;
  border: none;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  /* Spacing in between buttons */
  margin-left: 20px;
}

.margin-top-offset20 {
  margin-top: 20px;
}

.margin-bottom-offset25 {
  margin-bottom: 25px;
}

.margin-bottom-offset50 {
  margin-bottom: 50px;
}

.padding-top-offset10 {
  padding-top: 10px;
}

.padding-top-offset20 {
  padding-top: 20px;
}

.blue-button:hover {
  background: #468CCF !important;
}

.contact_form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* FIXME: Use a floated image instead; this should help improve rendering of
the disclaimer text within the form. */
.contact_form li {
  font-size: 90%;

  /* Spacing in between disclaimer and textarea */
  margin-top: 5%;

  /* Spacing in disclaimer and checkbox */
  padding-bottom: 5%;

  /* 48 (width of image) + 24 (48/2) */
  padding-left: 72px;

  /* Source: https://www.iconfinder.com/search/?q=caution&price=free */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAKVklEQVR42uyaa2wU1xXHfzOz6/V6/cBvsM3DhOAQ8zQGY7GJSQivJGqQWqmV1ShUVR6bVEVFclXqlEgpkSJVVJGaYJGnS6NW/dK0iKhRk5SEpgmlIWlCCRQIhFeMjQ32ete7OzN3bj/M3ZcfJAZDGqkjHd27c8859/zPOfc5q0kp+To/Ol/z5/8AvurHcy2UdmzIbwVCgAG8CnSEOiMXr0Vf2kQP4o4N+dvnLFsQWnTHnWi6zunDH7PvT69hmdaDoc7IsxOOQEo5YbT9vsBT7//uLimj+6WMfSJl7LCU0Q/l4Kln5IuhMrn9vkBwIvuTUk7cGOjYkN9aNaNmY8Ndm0EvBi3PJaOY/PIW1t7/ICqt/mcHcWjFfT9E81SA7ALrVbB2g/gY9Hym1H2HmfNvbO3YkP/AhA/iaDR6VUp2PlK5af6tS4JFlbeAcxKsPRm+OQf6p+BZTfBbP+LExw+HotHoVY+FQCCQBtDf33/Fina11+UYHmNbw5qHQUTB/CsgspnEOZD7CBTPZ+GK5oU7H6ls/8YT/3liwgD09fVdja4tS9aswl9QA4m94CRG5xIHwTeDhtUPc3jfga272uueXb7p3QtX2ml1dXUaQE9PzxUpOfby+lp/wN8+d/m3wf4crM9Au4xA4m/4Ai0sWbuWd/64q62np+fHEzIGLly4YkdsbFp3F15/PsTeABl3c380EBIQp0A/z5xld/PRW2+3HXt5/a5Ja55756oB9Pb2jl/wwOZgcUXJxrrGFa7nrW7X8MtFQAKxt/DkrSV4zzf5869fDPX29l49gIsXx7/KV0Bo6eo70Q0fRF4H4gqANnYEpAQZA/Mo0+csoKKmqrXnwOZXe2rbfntVAMLh8LiEZvXtaJ08fXrrzHlLIXEIxIC765HJCIyBILlrGXoPrWA9wXvW84dntofC4fDVAUgkEuNetJrXrQGZgNh+0B3XOB2QGkeOhHnhueMMDdk0NJTw/ftnKXASHNxoxf5J5Ywl3LhgXpCPdmw6lL/hl9dlJa6PdG6aNa8+OHnmXIh/AAyp9Im7pRFn9+4ufLpDSYHO0cOX+OBf3WDEs/nMj8AZpGnNOnTD2FYf6Sy65gDqI505umFsa1q3FkQPmB+ClnCJBBgmkKCvK4ymsijHo5Ewi7LaXZk4DL1JQdk0FrUsB2i/HhHYMndZI4WlNRB5Wy1acdcoPZHycPnksmG9aGnP6woscUgcB/M4i1ruwOf3t9VHOuddMwD1kc7anFx/e+PK2yFxBOyjoA0BMVWquh4j15+TJVta4QU95rYzlC0XfQOvL8Cytbdf0W51PBHYuLilGZ+/ACJvgjQBlRIkQDPBcCMxqSw/S9DvD7ueNxRfUgbT3SfF9jGnsYnSKZWh+khn64QDqI90BguLizfODy6F2D9AdKUBSNM1SiZSVFzmzY5AeXa7y58hH30dTRPccvfqcUfhy0Yg1LiiGV23YPBNtWWIjywVFZemj6n+gJ88f3dW+wg5ZxDCf2FK7TRmzpkdrI90bhoXAF3Xx6T6SOe95dU1rbMXz8EZeAfHDiMdyyVpZdcVFZem15Up0yqRTjirfTR5J/oe0uymaXUwNa1ezq4vDQAINa1ahrQuIgbfRTo2jmPjSEW4JLGR0qXqqekDUlGpgXTSbZK0TEqHYyMdE/vibgrLJlG/pAGg/UsDMAxjVKrrf7592uy65qracuxLbyNtEyEEQgqEI5DSJRyBFAJpu6XfexZ/Xi4AxSUaclg7GbLCUfqEQMZO4kQP0bByAf78gra6/ueDY9n2hQBm9e0o8nhztjavXYQcOoMTPgjSAc1xS+kgRQY5ioSDFFGmTK8EwOdLpN9n8biU1JXU6/TuwefRabx1KUDoigEA7TfOvZmCQj+Jnr0IBywBjgWOAOX4VJmsSwHSgspqPwBV1QbSSrc5Ygx5y9VvmZew+vZT1zCNwpKK1tqe7a3jBjCt61fNuXn5bYtbbsDuP4wT6cKxXUcJB4Q9khzLLaUinzfmHv0qe1PvMvlGkAqEY4PVsx9hDbD09oVjRuGyAIDQ3KXz8OQIzPPvIRzlJTtNwk5707HTpbBcCt5WwmPbH8WOn029y+RLygo7W68jQAgL8/y7TJ01ieoZs4LVZ59qHwuAJwlgy5YtqQuqQFHZvXMWlWH1HMJODKEb7hZfau6OOLXlF+oMYLhnFU1XPDqI/j2I/j3p04CjjgQO7pZapNMfoSKXrAuwLn6KUXQTTStvYNdvzm2dfGrbrlBn5CDA448/PjICWYvWrbORdpj4+X+nvJ0Kv/KaNMEx1ZhQdWG5vy906+x4Po+2zYXsfNmPUHwigzcpJ02lX2Snl2ND/PR+AkVebpp/c9YKPWoKKe9vKquYHpxem0vi3EGkZWenicplJ6OTpNHJwevY8MruArq7vJQU6Jw8kcOevT5XVvE5GSklhunNTC978AJ273EWNheSV1AaUrfeowPo2JCfr+nGtsaWSsyhC8R7z2JZYNsZZIFlZngqwwjbTEfp/OfgNbTUeeDMufKUTIovOV6UjGW6+jP7syyInvkEYQ/RsLw2FYURANTK1jZl6kyKKwyGThxGWNKd5pIzi0jnrxDpzm0rI/yma+Dsm2Zm7Vdqpte4hpvpNLQznCCEq1c6qp9kRATY8RjxM0eZeoOXiqqZwY4N+VtHrMR5Bx/za7pny8JgLmbPKWL9A64XRLY3bEuVKt9TRijvJXN71ZqbmVw9BYAZs2ppWlyUynlbAU2BV/qy9CejoPqPdJ3DCvewdGUA3ZPbnnfwserhX2haAv5yAn6bgcOncUzQDDWr6C6XoYPwuDOOpqlSV3XdrTu6Ozt55Gt893v3YvhrsCPHGDq9E2mnZ6FkJKXMmHmkmtXUmoCd5pVCMnj0BIXz6qmqmcrZz46FgEczAdT6cn1ETp4hMZBA97qd6R4FRAOhueHSpDtVpm5KklOrVEZIEIk+IseeyroScm8jlEzyhiXjpiVZd9R0LTWly3aBxXsjeM+coWpqOWc/Y9VwABHTtBj8tNf1jDrGOhoYBmjetMeTEdDU2oDm8qK8r41yO6epZJXq6kV3wFFgNelGWUrQhNIvFBgVGUcN9P6j3USLigEGhqfQrshQNxeloDAfDOVZw6O8pYFugPSkU0ZmgJBa2vhkdFKL3XAvp+6P1G+h+BwXiG6DkOl0E7ZaY0ww44Ijp7oAOrIAiMYnBzwHfvqzTyK+n5eFTaomSQpK/XhzS9BzNQyvpqKgpceAWnHJ8H6WxzN/Z4JQQDS1MifBpCKggaFLBBJNSnRHYoW7OdvrcM7KQWqJX4jGJ18Z8Zn1oZfCTzz3QNnfLzlWaCAub/Oe18pyLsXwejUMA3RdG/vWcMK+OKavUG1bYguJZYGZyMOWcq/m0TseemHg908//fSo34nl/c/2vgXsVe89QC7gA7zKV9fjw3hyt2RnX3tgq/dyxN2o8f5PgB9kKrAzFJnp4XpN/Z81aQ2zQ2Qanmmv5zJeUEMJ+zoan3UZPwp94V8NhjOJzHH5FTzyMrYB8N8BAG2+ymuUf9bqAAAAAElFTkSuQmCC) no-repeat;
}

/* Helpers */

.sky_blue {
  color: #5eb0ea;
}

.site-header-red {
  /* Red */
  color: #ff2f2c;
}

/* We want the site header to be a stateless hyper-link (no changes in color) */
.site-header-link {
  text-decoration: none;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.heading {
  text-align: center;
  font-size: 250%;
  font-weight: 600;
  line-height: 1.3em;
}

.bold {
  font-weight: 800;
}

.semi-bold {
  font-weight: 600;
}

.req {
  /*font-size: 100;*/
  color: red;
  font-weight: bold;
}

.err {
  font-size: 90%;
  font-weight: bold;
  text-align: left;
  color: red;
  padding-left: 5px;
  /*border: 2px dashed red;*/
}

/* Experimental (breaks Mobile Safari select input fields) */
/* Return value must be enabled in lib/form_helpers.js */
.red-border {
  border: 1px solid red;
  /*outline: 1px solid red;*/
}

.gray-border {
  border: 1px solid #999;
}

.note {
  font-size: 90%;
  font-style: italic;
}

.label {
  width: inherit;
}

/* Desktop only */
.breadcrumb-link {
  display: inline;
  padding-right: 6px;
  color: black;
  text-decoration: none;

  /* sky blue */
  /*background-color: #5eb0ea;*/
  /*color: white;*/
  /*font-weight: bold;*/
}

.breadcrumb-active {
  text-decoration: none;
  color: black;
  /*font-weight: 600;*/

  /* sky blue */
  /*background-color: #5eb0ea;*/

  /* Dark blue */
  /*background-color: #468CCF;*/
  /*color: white;*/
}

.left-col {
  width: 80%;
  float: left;
}

/* Desktop only */
.right-col {
  width: 20%;
  float: right;
  margin-top: auto;
}

/* Google Static Map */
/* Note that this is relying on the web browser to rescale our image by a
factor of 1.5 from its original dimensions (320x240) */
.google_map {
  width: 150%;
  height: 150%;
}

.map_caption {
  width: 150%;
  text-align: center;
}

.code-box {
  border: 2px solid grey;
  background: white;
  border-radius: 0;
  margin-bottom: 10px;
}
