extends ../layout

block title

  title= locals.settings.nav_links['blog'].title + ' : ' + locals.settings.site_owner['company']

block head

block content

  if typeof auth_url != 'undefined'

    include blogger_auth

  else if typeof posts != 'undefined'

    - each post in posts
      include post_partial

block footer
